<h1><%= @page_title %></h1>

<div class="span6">
<p>Thunder Road Hobbies carries the largest selection of R/C airplanes and helicopters in the Quad Cities.  
We sell and support all scales of R/C planes and helicopters.  We support what we sell
with a large inventory of spare parts and upgrades and with our in house technicians we can
perform most repairs and upgrades.</p>  
<!-- <img src="#" alt="Airplanes and Helis"> -->
</div>
