<h1><%= @page_title %></h1>

<div class="span6">
<p>Thunder Road Hobbies carries the largest selection of R/C and model cars in the Quad Cities.  
We sell and support all scales of R/C cars from 1/36 to 1/5 scale.  We support what we sell
 with a large inventory of spare parts and upgrades and with our in house technicians we can
 perform most repairs and upgrades.</p>  
<p>We also sell and support a large selection of slot cars and slot car tracks.</p>
<!-- <img src="#" alt="Cars"> -->
</div>
