<h1><%= @page_title %></h1>

<div class="span6">
<h3>Area Clubs</h3>
<p>The following are clubs that Thunder Road Hobbies supports</p>
<li><a href="http://www.qcskyraiders.com/">Quad City Skyraiders</a></li>
<li><a href="http://www.davenportrc.org/Default.aspx?p=9">Davenport Radio Controlled Society</a></li>
<li><a href="http://qcsme.org/">QCSME - Quad City Society of Model Engineers</a></li>
<br />
<p>If you would like to have your club listed here please submit your club name and link to 
	<a href="mailto:info@thunderroadhobbies.com">info@thunderroadhobbies.com.</p>
<!-- <img src="#" alt="Clubs"> -->
</div>
