<h1><%= @page_title %></h1>

 <div class="span6">
<h3>Our Location</h3>
<h4>6411 61st Street</h4>
<h4>Moline, Illinois  61265</h4>
<h4>309-762-5295</h4>
<iframe width="576" height="432" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=thunder+road+hobbies+in+moline+il&amp;aq=&amp;sll=41.801601,-89.699657&amp;sspn=0.039925,0.060511&amp;ie=UTF8&amp;hq=thunder+road+hobbies&amp;hnear=Moline,+Rock+Island,+Illinois&amp;t=m&amp;ll=41.480805,-90.511208&amp;spn=0.123461,0.219727&amp;z=12&amp;output=embed"></iframe>
<br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=thunder+road+hobbies+in+moline+il&amp;aq=&amp;sll=41.801601,-89.699657&amp;sspn=0.039925,0.060511&amp;ie=UTF8&amp;hq=thunder+road+hobbies&amp;hnear=Moline,+Rock+Island,+Illinois&amp;t=m&amp;ll=41.480805,-90.511208&amp;spn=0.123461,0.219727&amp;z=12" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
