<h1><%= @page_title %></h1>

<div class="span6">
<h3>Outdoor Offroad Racing</h3>
<p>Thunder Road Hobbies holds weekly races in the spring, summer, and fall.  The track is located directly behind the store and features many of the amenities that you would expect from a top rate racing facility.</p>
<p>During the outdoor racing season doors open at 10:30 and races start at 1pm on Sundays.</p>
<h4>Classes</h4>
<h5>1/8 Buggy</h5>
<p>This class features nitro and electric 1/8 scale offroad buggies.</p>
<h5>1/10 Electric Short Course Trucks</h5>
<p>This class features electric 1/10 scales offroad short course trucks.</p>

<h3>Indoor Offroad Carpet Racing</h3>
<p>Thunder Road Hobbies holds indoor weekly races in the winter.  The track is located directly above the store and features many of the amenities that you would expect from a top rate racing facility.</p>
<p>During the indoor racing season the races are held every Saturday starting a 6:00</p>
<h4>Classes</h4>
<h5>1/10 Electric Buggy</h5>
<p>This class features electric 1/10 scale offroad buggies that are limited to 17.5 turn brushless motors.</p>
<h5>1/18 Electric Losi Mini8 Buggies</h5>
<p>This class features electric 1/18 scale offroad 4wd mini buggies.</p>

<!-- <img src="#" alt="Racing"> -->
</div>
