<h1><%= @page_title %></h1>

<div class="span6">
<p>Thunder Road Hobbies carries the largest selection of Rail Road and Train materials in the Quad Cities.  
From engines to landscapes we can bring your model train environment to life.</p>
<p>We also make repairs or upgrades on scale trains</p>
<!-- <img src="#" alt="Trains"> -->
</div>
